{% extends 'base.html' %}

{% block head_title %}
Amazing
{% endblock head_title %}

{% block content %}

<div class='row text-center'>
  <div class='col'>
    <h1>Welcome to Tweetme</h1>
  </div>
</div>

<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'>
    <!--action -> define the enpoint, destination of sending data-->
    <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
      {% csrf_token %}
      <!-- no mather what, redirect to the home page after
      submiting a form
      next_url is is in POSY as next, url value '/'-->
      <input type='hidden' value='/' name='next' />
      <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
      <button type='submit' class='btn btn-primary'>Tweet</button>
      <!-- Button przekierowuje nas do endpointu, przekazując treść, endpoint umożliwia zapisanie treści do bazy danych.  Połączenie wystylizowanej form z logiką-->
    </form>
  </div>
</div>

<div class='row' id='tweets'>
  Loading...
</div>

<script>
  // event passed by default to event listener
  function handleTweetCreateFormDidSubmit(event){
    // Handle event withoud page being reloaded
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    //for (var myItem of myFormData.entries()){
    //  console.log(myItem)
    //}
    const responseType = "json"
    const endpoint_url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.responseType = responseType
    xhr.open(method, endpoint_url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function(){
      if(xhr.status === 201){
        const newTweetJson = xhr.response
        const newTweetElement = formatTweetElement(newTweetJson)
        const ogHtml = tweetsContainerElement.innerHTML
        tweetsContainerElement.innerHTML = newTweetElement + ogHtml
        // reset to have an empty field after adding a new Tweet
        myForm.reset()
      }
    }
    xhr.send(myFormData)
  }

  const tweetCreateFormElement = document.getElementById("tweet-create-form")

  tweetCreateFormElement.addEventListener("submit", handleTweetCreateFormDidSubmit)

  const tweetsContainerElement = document.getElementById("tweets") // $("tweets")jQuery
  // setting new HTML in that element
  //tweetsElement.innerHTML = 'Loading...'
  //var el1 = "<h1> Hi There 1<h1>"
  //var el2 = "<h1> Hi There 2<h1>"
  //var el3 = "<h1> Hi There 3<h1>"
  //tweetsElement.innerHTML = el1 + el2 + el3

  function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest() // xhr = SomeClass() -> Python 
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)

    xhr.onload = function() {
      const serverResponse = xhr.response
      const  listedItems = serverResponse.response
      var finalTweetStr = ""
      var i;

      for (i=0; i<listedItems.length; i++){
        var tweetObj = listedItems[i]
        var currentItem = formatTweetElement(tweetObj)
        finalTweetStr += currentItem
      }
      tweetsElement.innerHTML = finalTweetStr

    }
    xhr.send()
  }

  loadTweets(tweetsContainerElement)

  function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id, currentCount)
  }

  function LikeBtn(tweet){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + ","+ tweet.likes + ")>" + tweet.likes+ " Likes</button>"
  }

  function formatTweetElement(tweet){
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
    return formattedTweet
  }

  

</script>
{% endblock content %}